/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/* Mobile */
/* line 3, ../scss/base.scss */
/* line 10, ../scss/breakpoints/base.scss */
body {
  margin: 0;
}

/* line 14, ../scss/breakpoints/base.scss */
#masthead {
  position: relative;
  color: #fff;
}
/* line 17, ../scss/breakpoints/base.scss */
#masthead .site-branding {
  padding: 3em 1em;
  background: #3E4447;
  display: flex;
  justify-content: center;
}
/* line 22, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-title {
  padding-left: .1em;
  padding-top: .5em;
  text-transform: uppercase;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  font-size: 1.54em;
  line-height: 100%;
  margin: 0;
}
/* line 35, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-title span.first {
  display: block;
}
/* line 38, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-title span.last {
  font-size: 1.21em;
  display: block;
}
/* line 43, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-description {
  line-height: 110%;
  font-size: 2.34em;
  font-weight: 600;
  margin: 0;
  padding-right: .5em;
}
/* line 49, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer {
  font-size: 1.138em;
  display: block;
}
/* line 52, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .a {
  color: #d2d7df;
}
/* line 55, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .b {
  color: #775656;
}
/* line 58, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .c {
  color: #998882;
}
/* line 61, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .d {
  color: #879e92;
}
/* line 64, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .e {
  color: #d2d7df;
}
/* line 67, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .f {
  color: #775656;
}
/* line 70, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .g {
  color: #998882;
}
/* line 73, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .h {
  color: #879e92;
}
/* line 77, ../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .developer {
  display: block;
}
/* line 81, ../scss/breakpoints/base.scss */
#masthead .site-branding a {
  transition: .4s all;
  text-decoration: none;
  color: #fff;
}
/* line 85, ../scss/breakpoints/base.scss */
#masthead .site-branding a:hover {
  color: #FBFB1E;
}
/* line 91, ../scss/breakpoints/base.scss */
#masthead .main-navigation {
  clear: both;
}

/* line 97, ../scss/breakpoints/base.scss */
#site-navigation button.menu-toggle {
  width: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0px;
  background: transparent;
  color: #d2d7df;
}
/* line 105, ../scss/breakpoints/base.scss */
#site-navigation button.menu-toggle .nav-icon {
  width: 24px;
  height: 2px !important;
  transform: translateY(-50%);
  background: #d2d7df;
}
/* line 110, ../scss/breakpoints/base.scss */
#site-navigation button.menu-toggle .nav-icon:before, #site-navigation button.menu-toggle .nav-icon:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: inherit;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .25s ease;
  -moz-transition: all .25s ease;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
}
/* line 129, ../scss/breakpoints/base.scss */
#site-navigation button.menu-toggle .nav-icon:before {
  transform: translateY(-8px);
}
/* line 132, ../scss/breakpoints/base.scss */
#site-navigation button.menu-toggle .nav-icon:after {
  transform: translateY(8px);
}

/* line 139, ../scss/breakpoints/base.scss */
#about {
  padding: 2em;
  overflow: auto;
  background: #879e92;
}
/* line 143, ../scss/breakpoints/base.scss */
#about .inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 110%;
}
/* line 148, ../scss/breakpoints/base.scss */
#about .inner h2 {
  margin: 0 0 .5em 0;
  color: #CAFBE2;
  font-size: 2em;
}
/* line 153, ../scss/breakpoints/base.scss */
#about .inner h3 {
  margin-top: 0;
  margin-bottom: .3em;
}
/* line 156, ../scss/breakpoints/base.scss */
#about .inner h3 .upper {
  text-transform: uppercase;
  color: #fff;
  font-size: .83em;
}
/* line 162, ../scss/breakpoints/base.scss */
#about .inner h4 {
  color: #FBFB1E;
  margin: 0;
  font-size: 1.083em;
}
/* line 167, ../scss/breakpoints/base.scss */
#about .inner p {
  color: #fff;
}

/* line 173, ../scss/breakpoints/base.scss */
#css {
  background: #998882;
  padding: 3em 2em 3.5em 2em;
}
/* line 176, ../scss/breakpoints/base.scss */
#css .inner {
  margin: 0 auto;
  max-width: 280px;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
/* line 185, ../scss/breakpoints/base.scss */
#css .inner h2 {
  margin: 0;
  color: #775656;
  font-size: 2em;
}
/* line 190, ../scss/breakpoints/base.scss */
#css .inner h3 {
  line-height: 150%;
  margin: 0;
}
/* line 194, ../scss/breakpoints/base.scss */
#css .inner h4 {
  margin: 0;
  color: #775656;
  font-style: italic;
  line-height: 0;
  position: absolute;
  right: 61.4%;
  bottom: -13%;
}
/* line 204, ../scss/breakpoints/base.scss */
#css .inner h5 {
  line-height: 72%;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 5em;
}

/* line 216, ../scss/breakpoints/base.scss */
#tech {
  background: #d2d7df;
}
/* line 218, ../scss/breakpoints/base.scss */
#tech .inner {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
}
/* line 224, ../scss/breakpoints/base.scss */
#tech .inner h2 {
  margin: 0;
  line-height: 100%;
  color: #556a5f;
}
/* line 229, ../scss/breakpoints/base.scss */
#tech .inner h3 {
  margin: 0;
  line-height: 120%;
  color: #879e92;
  font-size: 1.05em;
}
/* line 235, ../scss/breakpoints/base.scss */
#tech .inner ul {
  margin: 2em 0 0 0;
  padding: 0;
  list-style: none;
}
/* line 239, ../scss/breakpoints/base.scss */
#tech .inner ul li {
  clear: both;
  text-align: left;
  margin: .75em 0;
  color: #fff;
  font-size: .9em;
}
/* line 246, ../scss/breakpoints/base.scss */
#tech .inner ul li .bar {
  position: relative;
  background: #879e92;
  width: 100%;
  border-radius: 3px;
}
/* line 252, ../scss/breakpoints/base.scss */
#tech .inner ul li .bar .six-of-12 {
  padding: .5em .75em;
  width: 50%;
  background: #556a5f;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 260, ../scss/breakpoints/base.scss */
#tech .inner ul li .bar .seven-of-12 {
  padding: .5em .75em;
  width: 58.3%;
  background: #556a5f;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 268, ../scss/breakpoints/base.scss */
#tech .inner ul li .bar .eight-of-12 {
  padding: .5em .75em;
  width: 66.67%;
  background: #556a5f;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 276, ../scss/breakpoints/base.scss */
#tech .inner ul li .bar .nine-of-12 {
  padding: .5em .75em;
  width: 75%;
  background: #556a5f;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 284, ../scss/breakpoints/base.scss */
#tech .inner ul li .bar .ten-of-12 {
  padding: .5em .75em;
  width: 83.33%;
  background: #556a5f;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 292, ../scss/breakpoints/base.scss */
#tech .inner ul li .bar .eleven-of-12 {
  padding: .5em .75em;
  width: 91.67%;
  background: #556a5f;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 300, ../scss/breakpoints/base.scss */
#tech .inner ul li .bar .twelve-of-12 {
  padding: .5em .75em;
  width: 100%;
  background: #556a5f;
  border-radius: 3px;
}

/* line 313, ../scss/breakpoints/base.scss */
#made {
  padding: 2em;
  background: #3E4447;
}
/* line 316, ../scss/breakpoints/base.scss */
#made .head {
  text-align: center;
}
/* line 319, ../scss/breakpoints/base.scss */
#made .head h2 {
  color: #fff;
  display: inline-block;
  margin: 0;
}
/* line 324, ../scss/breakpoints/base.scss */
#made .head h3 {
  padding-left: .5em;
  color: #FBFB1E;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;
}
/* line 334, ../scss/breakpoints/base.scss */
#made .cols .col {
  transition: .4s all;
  margin: 2em auto;
  background: #879e92;
  padding: 1em 1em 0 1em;
  border-radius: 3px;
  max-width: 350px;
  width: 100%;
}
/* line 342, ../scss/breakpoints/base.scss */
#made .cols .col .homepost {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
/* line 348, ../scss/breakpoints/base.scss */
#made .cols .col .homepost .overlay {
  transition: .4s all;
  height: 300px;
}
/* line 352, ../scss/breakpoints/base.scss */
#made .cols .col .homepost .overlay .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #879e92;
  color: #fff;
  padding: .75em 0;
  transition: .4s all;
}
/* line 361, ../scss/breakpoints/base.scss */
#made .cols .col .homepost .overlay .text h3 {
  font-size: 1.1em;
  margin: 0;
  line-height: 100%;
}
/* line 367, ../scss/breakpoints/base.scss */
#made .cols .col .homepost .overlay .text .excerpt {
  font-size: .9em;
}
/* line 370, ../scss/breakpoints/base.scss */
#made .cols .col .homepost .overlay .text:after {
  position: absolute;
  bottom: 5px;
  right: -100px;
  font-size: 2.4em;
  color: #3E4447;
  font-family: 'FontAwesome';
  content: "\f105";
  transition: .2s all;
}
/* line 383, ../scss/breakpoints/base.scss */
#made .cols .col:hover {
  background: #6c8678;
}
/* line 386, ../scss/breakpoints/base.scss */
#made .cols .col:hover .homepost .overlay {
  background: rgba(135, 158, 146, 0.4);
}
/* line 388, ../scss/breakpoints/base.scss */
#made .cols .col:hover .homepost .overlay .text {
  background: #6c8678;
}
/* line 390, ../scss/breakpoints/base.scss */
#made .cols .col:hover .homepost .overlay .text:after {
  right: 5px;
  color: #a3b5ac;
}

@media (min-width: 768px) {
  /* Tablet */
  /* line 4, ../scss/breakpoints/768.scss */
  #masthead .site-branding {
    padding: 1em;
    font-size: 3em;
  }

  /* line 10, ../scss/breakpoints/768.scss */
  #about {
    padding: 4em 2em;
  }
  /* line 12, ../scss/breakpoints/768.scss */
  #about .inner {
    font-size: 2em;
  }

  /* line 17, ../scss/breakpoints/768.scss */
  #css {
    padding: 5em 2em 6em 2em;
  }
  /* line 19, ../scss/breakpoints/768.scss */
  #css .inner {
    font-size: 2.5em;
    max-width: 700px;
  }
  /* line 22, ../scss/breakpoints/768.scss */
  #css .inner h4 {
    right: 61.7%;
  }

  /* line 28, ../scss/breakpoints/768.scss */
  #tech {
    padding: 1em;
  }
  /* line 30, ../scss/breakpoints/768.scss */
  #tech .inner {
    font-size: 2em;
  }
  /* line 32, ../scss/breakpoints/768.scss */
  #tech .inner ul {
    font-size: .75em;
  }

  /* line 38, ../scss/breakpoints/768.scss */
  #made {
    padding: 4em 2em 2em 2em;
  }
  /* line 40, ../scss/breakpoints/768.scss */
  #made .head {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  /* line 44, ../scss/breakpoints/768.scss */
  #made .cols {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  /* line 49, ../scss/breakpoints/768.scss */
  #made .cols .col {
    margin: 1em;
    flex: 1 0 auto;
  }
}
@media (min-width: 1030px) {
  /* Desktop */
  /* line 4, ../scss/breakpoints/1030.scss */
  #masthead .site-branding {
    font-size: 4em;
  }

  /* line 9, ../scss/breakpoints/1030.scss */
  #about {
    padding: 10em;
  }
  /* line 11, ../scss/breakpoints/1030.scss */
  #about .inner {
    font-size: 2.5em;
  }

  /* line 16, ../scss/breakpoints/1030.scss */
  #css {
    padding: 12em 2em 14.3em 2em;
  }
  /* line 18, ../scss/breakpoints/1030.scss */
  #css .inner {
    font-size: 3em;
    max-width: 840px;
  }

  /* line 25, ../scss/breakpoints/1030.scss */
  #tech .inner {
    font-size: 2.5em;
  }
  /* line 27, ../scss/breakpoints/1030.scss */
  #tech .inner ul {
    font-size: .5em;
    display: flex;
    flex-wrap: wrap;
  }
  /* line 31, ../scss/breakpoints/1030.scss */
  #tech .inner ul li {
    flex: 1 0 auto;
    width: 47%;
  }
  /* line 34, ../scss/breakpoints/1030.scss */
  #tech .inner ul li:nth-of-type(odd) {
    margin-right: 2em;
  }

  /* line 43, ../scss/breakpoints/1030.scss */
  #made .head {
    font-size: 2em;
  }
  /* line 47, ../scss/breakpoints/1030.scss */
  #made .cols .col {
    margin: 1.5em 1em;
  }
}
@media (min-width: 1240px) {
  /* Large */
  /* line 4, ../scss/breakpoints/1240.scss */
  #masthead .site-branding {
    font-size: 4.5em;
  }
}
