/* Desktop */
/* line 4, ../../scss/breakpoints/1030.scss */
#masthead .site-branding {
  font-size: 4em;
}

/* line 9, ../../scss/breakpoints/1030.scss */
#about {
  padding: 10em;
}
/* line 11, ../../scss/breakpoints/1030.scss */
#about .inner {
  font-size: 2.5em;
}

/* line 16, ../../scss/breakpoints/1030.scss */
#css {
  padding: 12em 2em 14.3em 2em;
}
/* line 18, ../../scss/breakpoints/1030.scss */
#css .inner {
  font-size: 3em;
  max-width: 840px;
}

/* line 25, ../../scss/breakpoints/1030.scss */
#tech .inner {
  font-size: 2.5em;
}
/* line 27, ../../scss/breakpoints/1030.scss */
#tech .inner ul {
  font-size: .5em;
  display: flex;
  flex-wrap: wrap;
}
/* line 31, ../../scss/breakpoints/1030.scss */
#tech .inner ul li {
  flex: 1 0 auto;
  width: 47%;
}
/* line 34, ../../scss/breakpoints/1030.scss */
#tech .inner ul li:nth-of-type(odd) {
  margin-right: 2em;
}

/* line 43, ../../scss/breakpoints/1030.scss */
#made .head {
  font-size: 2em;
}
/* line 47, ../../scss/breakpoints/1030.scss */
#made .cols .col {
  margin: 1.5em 1em;
}
