/* Tablet */
/* line 4, ../../scss/breakpoints/768.scss */
#masthead .site-branding {
  padding: 1em;
  font-size: 3em;
}

/* line 10, ../../scss/breakpoints/768.scss */
#about {
  padding: 4em 2em;
}
/* line 12, ../../scss/breakpoints/768.scss */
#about .inner {
  font-size: 2em;
}

/* line 17, ../../scss/breakpoints/768.scss */
#css {
  padding: 5em 2em 6em 2em;
}
/* line 19, ../../scss/breakpoints/768.scss */
#css .inner {
  font-size: 2.5em;
  max-width: 700px;
}
/* line 22, ../../scss/breakpoints/768.scss */
#css .inner h4 {
  right: 61.7%;
}
