/* Mobile */
/* line 3, ../scss/base.scss */
/* line 9, ../../scss/breakpoints/base.scss */
body {
  margin: 0;
}

/* line 13, ../../scss/breakpoints/base.scss */
#masthead {
  position: relative;
  color: #fff;
}
/* line 16, ../../scss/breakpoints/base.scss */
#masthead .site-branding {
  padding: 1em;
  background: #3E4447;
  display: flex;
  justify-content: center;
}
/* line 21, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-title {
  padding-left: .1em;
  padding-top: .5em;
  text-transform: uppercase;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  font-size: 1.54em;
  line-height: 100%;
  margin: 0;
}
/* line 34, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-title span.first {
  display: block;
}
/* line 37, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-title span.last {
  font-size: 1.21em;
  display: block;
}
/* line 42, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-description {
  line-height: 110%;
  font-size: 2.34em;
  font-weight: 600;
  margin: 0;
  padding-right: .5em;
}
/* line 48, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer {
  font-size: 1.138em;
  display: block;
}
/* line 51, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .a {
  color: #d2d7df;
}
/* line 54, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .b {
  color: #775656;
}
/* line 57, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .c {
  color: #998882;
}
/* line 60, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .d {
  color: #879e92;
}
/* line 63, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .e {
  color: #d2d7df;
}
/* line 66, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .f {
  color: #775656;
}
/* line 69, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .g {
  color: #998882;
}
/* line 72, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .designer .h {
  color: #879e92;
}
/* line 76, ../../scss/breakpoints/base.scss */
#masthead .site-branding .site-description .developer {
  display: block;
}
/* line 80, ../../scss/breakpoints/base.scss */
#masthead .site-branding a {
  transition: .4s all;
  text-decoration: none;
  color: #998882;
}
/* line 84, ../../scss/breakpoints/base.scss */
#masthead .site-branding a:hover {
  color: #879e92;
}
/* line 90, ../../scss/breakpoints/base.scss */
#masthead .main-navigation {
  clear: both;
}

/* line 96, ../../scss/breakpoints/base.scss */
#site-navigation button.menu-toggle {
  width: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0px;
  background: transparent;
  color: #d2d7df;
}
/* line 104, ../../scss/breakpoints/base.scss */
#site-navigation button.menu-toggle .nav-icon {
  width: 24px;
  height: 2px !important;
  transform: translateY(-50%);
  background: #d2d7df;
}
/* line 109, ../../scss/breakpoints/base.scss */
#site-navigation button.menu-toggle .nav-icon:before, #site-navigation button.menu-toggle .nav-icon:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: inherit;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .25s ease;
  -moz-transition: all .25s ease;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
}
/* line 128, ../../scss/breakpoints/base.scss */
#site-navigation button.menu-toggle .nav-icon:before {
  transform: translateY(-8px);
}
/* line 131, ../../scss/breakpoints/base.scss */
#site-navigation button.menu-toggle .nav-icon:after {
  transform: translateY(8px);
}
