/* Desktop */

#masthead {
    .site-branding {
        font-size: 4em;
    }
}

#about {
    padding: 10em;
    .inner {
        font-size: 2.5em;
    }
}

#css {
    padding: 12em 2em 14.3em 2em;
    .inner {
        font-size: 3em;
        max-width: 840px;
    }
}